# Python
__pycache__/
*.pyc
venv/
.env

# Database
*.db

# Uploads
uploads/

# Frontend
node_modules/
dist/

# VSCode
.vscode/

# Logs
*.log
data/logs.txt
PyWhatKit_DB.txt

# Build
build/

# Generated artifacts
vehicle_report.pdf

# OS files
.DS_Store
Thumbs.db
*.xlsx
*.png
firebase-service-account.json